.about{
    margin-top: 30px;
}

.about-content ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.about-content ul li{
    position: relative;
}

.about-content ul li .bigCaretRight{
    position: absolute;
    top: 3px;
    font-size: 1.2rem;
    color: #0095d3;
}

.about-content ul li p{
    position: relative;
    left: 20px;
    margin-bottom: 10px
}

.about-left-content{
    display: flex;
    align-items: center;
}

.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    max-width: 500px;
    border-radius: 20px;
}