@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #2c2c2c;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    text-transform: capitalize;
}

img{
    width: 100%;
}